@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --test: hsl(28 19% 27%);
    --test: hsl(30, 16%, 10%);
    --tests: hsl(26, 6%, 46%);
    --sd: hsl(28 15% 20%);
    --sd: hsl(359 44% 49%);
    --sd: #e07852;
    --sd: #2c2621;
    --sd: hsl(40 90% 60%);
    /* 30 55% 70% */

    /* 28 15% 15% */

    --background: 0 0% 97%;
    --foreground: 30 16% 10%;

    --muted: 0 0% 92%;
    --muted-foreground: 28 15% 20%;

    --popover: 0 0% 100%;
    --popover-foreground: 30 16% 10%;

    --card: 0 0% 100%;
    --card-foreground: 30 16% 10%;

    --primary: 28 15% 15%;
    --primary-light: 25 8% 30%;
    --primary-dark: 30 16% 10%;
    --primary-foreground: 0 0% 100%;

    --secondary: 33 20% 95%;
    --secondary-foreground: 36 50% 30%;

    --accent: 16.1 80.6% 42.5%;
    --accent-dark: 16 58% 41%;
    --accent-foreground: 30 16% 10%;

    --destructive: 0 65% 50%;
    --destructive-foreground: 0 0% 100%;

    --border: 0, 0%, 92%;
    --input:0, 0%, 92%;
    --ring: 28 19% 27%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 30 15% 15%; /* Dark brown */
    --foreground: 30 30% 94%; /* Light beige */

    --muted: 30 20% 20%; /* Muted dark brown */
    --muted-foreground: 30 25% 75%; /* Light cream */

    --popover: 30 15% 15%; /* Same as background */
    --popover-foreground: 30 30% 94%; /* Same as foreground */

    --card: 30 15% 15%; /* Dark brown */
    --card-foreground: 30 30% 94%; /* Light beige */

    --primary: 25 65% 65%; /* Coffee tan */
    --primary-light: 25 65% 75%; /* Lighter coffee tan */
    --primary-dark: 25 65% 55%; /* Rich coffee tan */
    --primary-foreground: 30 15% 15%; /* Dark brown */

    --secondary: 45 55% 30%; /* Muted coffee tan */
    --secondary-foreground: 30 30% 94%; /* Light beige */

    --accent: 25 65% 65%; /* Coffee tan */
    --accent-foreground: 30 15% 15%; /* Dark brown */

    --destructive: 0 65% 50%; /* Coffee cherry red */
    --destructive-foreground: 30 15% 15%; /* Dark brown */

    --border: 30 20% 25%; /* Muted dark brown */
    --input: 30 20% 25%; /* Same as border */
    --ring: 25 65% 65%; /* Coffee tan for focus */

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  p {
    @apply font-normal;
  }

  h1 {
    @apply text-4xl font-bold xs:text-[2.5rem] sm:leading-none lg:text-5xl xl:text-6xl;
  }

  h2 {
    @apply text-2xl font-bold xs:text-3xl lg:text-4xl;
  }

  h3 {
    @apply text-xl font-semibold xs:text-2xl lg:text-3xl;
  }

  h4 {
    @apply text-lg font-semibold xs:text-xl;
  }

  h5 {
    @apply text-base font-semibold xs:text-lg;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.toast-style :where([data-title])::first-letter {
  @apply capitalize;
}

.toast-style [data-close-button] {
  @apply text-primary;
}
